.env

laptop_server/.venv/
laptop_server/__pycache__/

cloud_server/.venv/
cloud_server/__pycache__/
cloud_server/.env
*.pyc
*.pyo
*.pyd

robot_esp32/build/
*.bin
*.elf
*.bin
*.hex
*.a
*.o
.pio/
.vscode/


